/* Grid de tarjetas */

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    color: whitesmoke;
    border-radius: 16px;

}

.cards-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    border: 1px;
    width: 100%;
}

/* Cada tarjeta */
.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 2rem;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease;
    opacity: 70%;
    border-radius: 16px;
}

.card:hover {
    transform: scale(1.05);
    opacity: 90%;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.card p,
.card h3 {
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .cards-content {
        grid-template-columns: 1fr;
    }
}