/* Grid de tarjetas */

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    color: whitesmoke;

}

.cards-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    border: 1px;
    width: 100%;
}

/* Cada tarjeta */
.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 2rem;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease;
    opacity: 60%;
}

.card:hover {
    transform: scale(1.05);
}

/* Adaptación móvil */
@media (max-width: 768px) {
    .cards-content {
        grid-template-columns: 1fr;
    }
}