/* Grid de tarjetas */

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    color: whitesmoke;
    opacity: 60%;
    border-radius: 16px;
}

.cards-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    border: 1px;
    ;
}