form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    /* Espacio entre filas y columnas */
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 600px;
    margin: 0 auto;
}

textarea,
fieldset,
button {
    grid-column: 1 / -1;
}

@media (max-width: 600px) {
    form {
        grid-template-columns: 1fr;
    }
}