.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 2rem;
}

.gallery-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    /* Mantiene proporciones recortando */
    border-radius: 16px;
    /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* Sombras suaves */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}