.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-items: center;
    border-radius: 16px;
}